<header class="bg-[#009f99] text-white py-4 px-6 mb-[40px] shadow-lg rounded-b-2xl">
    <nav class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-2xl font-extrabold tracking-wide hover:scale-105 transition-transform">CRUD-сайт</a>
        <ul class="flex space-x-6">
            <li>
                <a href="/" class="px-4 py-2 rounded-lg bg-white text-[#009f99] font-semibold transition-all hover:bg-opacity-80 shadow-md">
                    Реєстрація
                </a>
            </li>
            <li>
                <a href="/pages/userList.html" class="px-4 py-2 rounded-lg bg-white text-[#009f99] font-semibold transition-all hover:bg-opacity-80 shadow-md">
                    Користувачі
                </a>
            </li>
        </ul>
    </nav>
</header>
